<br>
<h2>Movie Details</h2>
<br>
<h5>Title: {{title}} </h5>
<h5>Genre: {{genre}} </h5>
<h5>Plot: {{plot}} </h5>

<br>

<h2>Cast</h2>

<br>

{{#each cast}}
    <h5>Actor: {{id.name}}</h5>
    <h5>Occupation: {{id.occupation}}</h5>
    <h5>Catch Phrase: {{id.catchPhrase}}</h5>
{{/each}}

<br>

<form action="/movies/{{id}}/delete" method="post">
    <button type="submit">Delete Movie</button>
</form>

<br>
<br>

<form action="/movies/{{id}}/edit" method="get">
    <button type="submit">Edit Movie</button>
</form>
