<br>
<h2>Movie Details</h2>
<br>

<h5> <b>Title:</b> {{title}} </h5>
<h5> <b>Genre:</b> {{genre}} </h5>
<h5> <b>Plot:</b> {{plot}} </h5>

<hr>
<br>
<br>

<h2>Cast</h2>

<br>

{{#each cast}}
    <h5> <b>Actor:</b> {{name}}</h5>
    <h5> <b>Occupation:</b> {{occupation}}</h5>
    <h5> <b>Catch Phrase:</b> {{catchPhrase}}</h5>
    <hr>
{{/each}}

<br>

{{#if theUser}}
    <a href="/movies/{{id}}/edit"><b>Edit Movie</b></a>

    <br><br>

    <form action="/user-profile/{{id}}" method="post">
        <button type="submit">Favorites ⭐️</button>
    </form>

    <br><br>

    <form action="/user-profile/{{id}}" method="post">
        <button type="submit">Delete Movie 🗑</button>
    </form>
{{/if}}




